<div class="row">
  <div class="span3 offset1">
		<h2>Your Ticker Box</h2><br/>
		<iframe src="<%= root_url %>ticker/<%= current_shop.id %>" height="300px" width="220px" style="overflow: scroll; margin: 0; padding: 0; border: none; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;"></iframe>
  </div>
	<div class="span7">
		<h2>Description</h2><br/>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare elit tempus est semper a ullamcorper lorem sodales. Ut eget risus ac tellus fringilla suscipit sit amet nec leo. Vestibulum consectetur, lorem id vehicula dictum, neque lorem cursus arcu, sit amet varius mi ligula in quam. Duis a est in justo mattis vehicula et dictum ante. Donec fringilla sagittis porta. Nunc placerat augue at risus bibendum nec pulvinar dui malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
		<p>Duis elit lectus, vestibulum vel viverra non, tincidunt eget neque. Donec vitae risus est, sed feugiat augue. Nam varius nulla vel nulla tincidunt quis porttitor ligula cursus. Proin consequat, lacus ac placerat interdum, justo odio sagittis ligula, vel porta nisl metus sodales magna. Fusce fringilla sagittis lobortis. Quisque dignissim gravida lacus id dignissim. Maecenas vehicula, purus nec interdum molestie, ante risus fringilla orci, sit amet malesuada tortor massa vel purus.</p>
		<p>In hac habitasse platea dictumst. Pellentesque diam ipsum, vestibulum id rhoncus nec, ultrices porta lectus. Sed metus est, scelerisque mollis porta non, adipiscing quis magna. Cras est quam, aliquam vel bibendum non, lobortis vel orci. Vivamus et magna nibh, a commodo nisi. Nunc condimentum venenatis venenatis. Praesent eleifend sollicitudin leo, at faucibus nisl venenatis eget. Sed est turpis, cursus id semper ornare, pellentesque sit amet odio. Praesent quis metus enim, vitae placerat neque. Quisque eget nisi non ante sodales eleifend vel quis neque. Nullam at erat ac velit condimentum malesuada. Maecenas sagittis magna at tortor vestibulum eu sagittis felis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla ullamcorper erat eu turpis aliquam elementum. Fusce ac velit sed augue suscipit sagittis. Donec quis elementum mi.</p>
	</div>
</div>
