<div class="row">
  <div class="span3 offset1">
		<h2>Your Feed Box</h2><br/>
		<%= feedbox_code.html_safe %><br/><br/>
		<%= link_to 'Customize', edit_feedbox_path(current_shop.feedbox), class: 'btn btn-info', id: 'customize-button' %>
  </div>
	<div class="span7">
		<h2>Description</h2><br/>
		<div>
		<p>Peer Pressure, as defined in Wikipedia, is something that encourages individuals to change their attitudes, values, or behaviors in order to conform to group norms. This concept is a reason behind most things most people do.</p>
		<p>This app takes the advantage of this human behavior to drive more sales to your Shopify shop. Peer Pressure box is basically a live feed widget. A ticker which slides in the most recently sold items in your shop, every time something sells. Like a live update. It's a small box that sits anywhere, on as many pages as you want, and it keeps updating. All the time.</p>
		<p>How is this driving more sales? Well, imagine a visitor is checking out your Shopify store. While he's at it, there are a few live updates in a row for some popular item being sold. There is a good chance he'll click it and wanna buy, isn't it?</p>
		<p>It's going to up your sales. Believe it or not.</p>
		</div>
		<div><br/>
			<h3>Grab the code:</h3>
			<%= pygmented_code('html', feedbox_code).html_safe %>
		</div>
		<div>
			<p>All you have to do is copy this piece of code and paste it where you want the feed-box to appear. No configurations or settings required.</p>
		</div>
	</div>
</div>
