<ul id="items" class="nav nav-list">
	<% @items.each do |item| %>
		<li class="item"><%= image_tag item.product.img_url, class: 'product-img' %> a <%= item.product.title %> was sold just now.</li>
	<% end %>
</ul>
